.App {
  text-align: center;
  font-size: 25px;
  display: flex;
  font-weight: bold;
}

.App div{
  width: 50%;
  /* border: 1px solid; */
  margin: auto;
}

button{
  font-size: 25px;
  margin: 10px;
}
input{
  font-size: 25px;
}

